@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.heading{
    margin: 10;
    padding: 10;
    text-align: center;
    color: #ffa500;
    font-size: 350%;
}

#pkName{
    
    color: #ffa500;
    font-size: x-large;
    font-style: Poppins;
    
    
    
    
}

.bnn{
    margin-bottom: 3%;
    margin-right: 5%;
}

.bnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
   
}
.package1{
    margin-top: 8%;
    margin-bottom: 7%;
    
}

.package1 h4{
    margin-bottom: 2%;
    margin-top: 5%;
}

.ul{
    margin-left: 35px;
}

.packages{
    padding-left:2% ;
    padding-top: 2%;
    padding-right: 7%;
   outline: 3px solid #ffa500; 
   border-radius: 7%;
   
}

.image img{
    margin: auto; 
      display: block;
      border-radius: 2rem;
}
